* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: whitesmoke;
}

.container {
  width: 400px;
  height: 500px;
}
.signUpContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  transform: translate(-14%, 25%);
  border-radius: 10px;
}
.submit {
  background-color: rgb(0, 110, 255);
  color: white;
  text-align: center;
  transform: translate(130%, 50%);
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 8px 3px;
  width: 100px;
}

form {
  box-shadow: 25px 10px 20px #673ab7;
  padding: 5%;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #80808030;
  outline-color: blue;
  color: blue;
  font-weight: bold;
}

label {
  font-weight: bold;
}
.error {
  color: red;
  font-size: 12px;
  text-transform: capitalize;
}
.header {
  display: flex;
}
.regester,
.login {
  background-color: rgb(0, 110, 255);
  color: white;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 9px 3px;
  width: 100px;
  position: relative;
  text-decoration: none;
}
.regester {
  top: 40px;
  left: 400px;
}
.login {
  top: 40px;
  left: 310px;
}
.regester:hover,
.login:hover,
.submit:hover {
  background-color: rgb(0 93 255 / 21%);
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.home:hover,
.about:hover {
  cursor: pointer;
  color: blue;
  font-size: larger;
}
.home {
  position: absolute;
  top: 40px;
  left: 40px;
}
.about {
  position: absolute;
  top: 40px;
  left: 90px;
}
